<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ib.zpo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZPO">
        <activity android:name=".Today.Today"/>
        <activity android:name=".Today.NextEx"/>
        <activity android:name=".Plans.Plans"/>
        <activity android:name=".Plans.PlanTemplates"/>
        <activity android:name=".Plans.ChooseDate"/>
        <activity android:name=".Exercises.UsersEx"/>
        <activity android:name=".Exercises.DatabaseEx"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>